appnope==0.1.2
astroid==2.4.2
backcall==0.2.0
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
decorator==4.4.2
Flask==2.0.2
idna==3.3
ipykernel==5.4.3
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.7.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.3
jupyter-client==6.1.11
jupyter-core==4.7.0
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
matlabengineforpython===R2020b
mccabe==0.6.1
numpy==1.21.4
opencv-python==4.5.4.60
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
prompt-toolkit==3.0.10
ptyprocess==0.7.0
Pygments==2.7.4
pylint==2.6.0
python-dateutil==2.8.1
pyzmq==20.0.0
requests==2.27.0
simple-term-menu==1.4.1
toml==0.10.2
tornado==6.1
traitlets==5.0.5
urllib3==1.26.7
wcwidth==0.2.5
Werkzeug==2.0.2
wrapt==1.12.1
